*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.container4 {
    height: 830px;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
  }

.icon {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.icon h4 {
    color: #72DB73;
    font-family: Single Day;
    font-size: 47.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%; 
    margin-left: 30px;
    margin-top: 8px;
}

.icon img {
    width: 78px;
    height: 78px;
    margin-left: 1100px;
    margin-top: 8px;
}

.msg {
    height: 50px;
    width: 1250;
    position: relative;
    display: flex;
    flex-direction: row;
}

.moviesList p {
    color: #FFF;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.688%; 
    letter-spacing: 0.608px;
    margin-left: 60px;
    margin-top: 10px;
    width: 500px;
}

.homepage button {
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 38.857px;
    background: #244324;
    border: #111311;
    margin-left: 760px;
    margin-top: 9px;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 15.286px;
    font-style: normal;
    font-weight: 500;
    line-height: 92.2%; 
    letter-spacing: 0.526px;
}

.movie-container {
    color: white;
    display: flex;  
    gap: 20px;
    padding: 30px;
    flex-direction: column;
  }
  .movies {
    display: flex;
    gap: 20px;
  }