.newsImg {
    height: 450px;
    width: 450px; 
    border-radius: 8px;   
}

.newsTitle {
    color: rgb(217, 213, 213);
    font-Size: 17px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 500;
}

.newsDate {
    color: rgb(217, 213, 213);
    font-size: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.newsTime {
    color: rgb(217, 213, 213);
    font-Size: 15px; 
    margin-Right: 10px; 
    margin-left: 20px;
}

.newsDesc {
    margin-top: 20px;
    margin-left: 20px;
    font-Size: 17px;
}
